VITE_API_URL=http://localhost:5000
VITE_VAPID_PUBLIC_KEY=BIa1kvjMAqxsKB8cJKtINzIgONA-5juIdYwgAA7S32jDXmHjMu-4AFiO9IxrIff53Da02Z3DJ5OF3rrjHLIQ-KI
VITE_GOOGLE_CLIENT_ID=844490845897-s738ip8vqo9edfbh1f641eoih4esro3f.apps.googleusercontent.com
